useDynLib(SaprseIsingSampler)
import(plyr)
import(RcppArmadillo)
import(Matrix)
import(magrittr)
import(nnet)
export(IsingSampler)
export(IsingSumLikelihood)
export(IsingLikelihood)
export(IsingStateProb)
export(LinTransform)
export(EstimateIsing)
export(IsingPL)


