useDynLib(SaprseIsingSampler)
export(SparseIsingSampler)
export(IsingSumLikelihood)
export(IsingLikelihood)
export(IsingStateProb)
import(plyr)
import(RcppArmadillo)
import(Matrix)
export(LinTransform)
import(magrittr)
export(EstimateIsing)
export(IsingPL)
import(nnet)
export(EstimateIsing)
export(EstimateIsingPL)
export(EstimateIsingUni)
export(EstimateIsingBi)
export(EstimateIsingLL)
